@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  background-color: black;
  font-family: "Urbanist", sans-serif;
}

.register {
  width: 1400px;
  height: 1024px;
  height: 100vh;
  overflow-y: auto;
  border-radius: 60px;
  background: white;
  margin: auto;
  overflow-x: hidden;
}

.register {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.register::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.form {
  padding: 45px 54px;
  height: 1024px;
}

.image {
  width: 692px;
  height: 1024px;
  overflow-x: hidden;

  img {
    height: 100%;
  }
}

.logo {

  img {
    width : 166px;
    height: 51px;
  }
}

.details {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(82px + 20px);
  gap: 2rem;
  width: calc(420px - 54px);
  margin-left: 163px;

  .heading h2 {
    font-size: 68px;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
    line-height: 0.7;
  }

  .heading p {
    font-size: 24px;
  }

  a {
    text-decoration: none;
    color: #FEC00F;
  }
}

.details p, .details h2 {
  text-align: center;
}

form {
  width: 100%;
}

button {
  border: none;
  background-color: inherit;
  display: block;
  width: 100%;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.3rem;
}

input {
  display: block;
  width: 100%;
  height: 52px;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.3rem;
  margin: 1rem 0;
  padding: 29px 19px 24px;
  text-align: start;
}

input::placeholder {
  color: #2E2E2E;
  font-size: 20px;
  font-weight: 400;
}

input[type="checkbox"] {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

button[type="submit"] {
  border-radius: 2rem;
  background-color: black;
  color: whitesmoke;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
}

button img {
  height: 15px;
  margin: auto 1rem;
}

#g-btn {
  margin-top: 20px;
  /* padding: 0.5rem; */
  height: 52px;
  width: 100%;
}